.searchBar {
  margin: 1rem;
}

.form {
  display: flex;
}

.inputContainer {
  position: relative;
  width: 100%;
  margin-right: 1rem;
}

.input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btnLg {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #0984e3;
  background-color: #0984e3;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #fff;
  border-radius: 0.3rem;
}

.btnLg:hover {
  background-color: #3761a8;
}

.btnLg:disabled {
  background-color: #b9b7b7;
  color: #495057;
  border-color: #495057;
}

.btnLg:not(:disabled) {
  cursor: pointer;
}

.clearSearchBtn {
  background-color: transparent;
  border: 0;
  color: #a6a6a6;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 12px;
}